
/* Selector Universal*/
*{
    
    padding: 0 auto;
    margin: 0 auto;
}

/* Selector de ID */
#contenedor{
    width: 1200px;
    height: 1000px;
    background-color: cyan;

}

#encabezado{
    height: 15%;
    background-color: deepskyblue;
    margin: 1em;
}

#menu{

    height: 5%;
    background-color: lightblue;
    margin: 1em auto;
}

#contenido{

    height: 70%;
    width: 61%;
    background-color: cadetblue;
    margin: 0.5em;
    float: left;

}

#fueraSeccion{
    height: 70%;
    width: 36%;
    background-color: aquamarine;
    margin: 0.5em;
    float: right;
}

#pie{

    height: 5%;
    background-color: lightcyan;
    border-radius: 1em;
    margin: 1.5em;
}

/* Selector de clase */
.Texto{

    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;

}

.encabezado_articulos{
    text-align: center;
    background-color: #333;
    color: white;
    margin: auto 2em;

}

.encabezado_articulos2{
    text-align: center;
    background-color: white;
    color: black;
    margin: auto 2em;

}

.imagenes {
    border: 1px;
    margin-left: 4%;
    border-radius: 4px;
    width: 220px;
    
}

/* selector de etiqueta */

ul{
    
    
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;

}

.imagenes2 {
    border: 1px;
    margin-left: 4%;
    border-radius: 4px;
    width: 220px;
    margin-top: 50px;
}